@font-face {
	font-family: 'Circular';
	src: url('https://sandook.money/fonts/CircularStdFont.otf') format('otf');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Circular';
	background: blanchedalmond;
	@media (max-width: 500px) {
		width: 100% !important;
	}
}

.button-primary {
	width: 148px;
	height: 50px;
	border-radius: 24px;
	text-transform: capitalize;
	background-color: transparent;
	border-color: #d1abcf;
	border-width: 1px;
	border-style: solid;
	font-family: 'circular';
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.button-style-1 {
	border-radius: var(--corner-radius-border-radius-m, 24px);
	border: 1px solid #d1abcf;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-style-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #e31c5d;
	color: #ffffff;
	text-decoration: none;
	border-color: transparent;
}
input {
	padding: 10px;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (max-width: 500px) {
		width: 100% !important;
	}

	.container {
		@media (min-width: 5001px) {
			max-width: 1440px;
		}
		@media (max-width: 500px) {
			width: 100% !important;
		}
		#main-top {
			.navbar-primary {
				width: 100%;
			}

			@media (max-width: 500px) {
				width: 100% !important;

				height: 847px !important;
				#main-banner-mobile-app-img {
					position: absolute;
					bottom: -4%;
					max-width: 80%;
					right: 9%;
				}
				.main-banner-heading {
					width: 90% !important;
					position: absolute;
					width: 480px;
					top: 41px;
					left: 0%;
					padding-left: 5%;
					padding-right: 5%;
					margin-top: 72px;
					.button-primary {
						width: 60% !important;
						margin-left: 20%;
						margin-right: 20%;
					}
					p:nth-child(1) {
						text-align: center;
					}
					p:nth-child(3) {
						text-align: center;
						margin: 0;
						margin-bottom: 28px;
						color: rgba(0, 0, 0, 0.60);
						margin-top: 20px;
					}
					span {
						font-size: 2em !important;
						display: block;
						text-align: center;
					}
					.partner-logos {
						justify-content: center;
						align-items: center;
						overflow: hidden;
						height: 49px;
						.augmont-logo {
							width: 150px;
							height: 150px;
						}

						.phonepay-logo {
							width: 150px;
							height: 150px;
						}
					}
				}

				.navbar-primary {
					#main-nav {
						justify-content: space-between;
						.logo {
							width: 50%;
						}
						.nav-links {
							display: none;
						}
						.nav-actions {
							width: 50%;
						}
					}
				}
				.navbar-secondary {
					display: none;
				}
			}
		}

		@media (max-width: 500px) {
			#features-investment-journy {
				display: none;
			}
			#you-can-count-on-us {
				display: none !important;
			}
			#info-section {
				display: none !important;
			}
			#unlock-section {
				display: none !important;
			}
			#how-it-works {
				display: none !important;
			}
			#calculator {
				display: none !important;
			}
			#benefits-section {
				display: none !important;
			}
			#features-of-making {
				display: none !important;
			}
			#faqs {
				display: none !important;
			}
			#others-faqs-section {
				display: none !important;
			}
			#story-sandook {
				display: none !important;
			}
		}
	}
}

footer {
	
}