@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStdFont.otf') format('otf');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Circular Std', 'Circular';
	background: blanchedalmond;
}

.button-primary {
	width: 148px;
	height: 50px;
	border-radius: 24px;
	text-transform: capitalize;
	background-color: transparent;
	border-color: #d1abcf;
	border-width: 1px;
	border-style: solid;
	font-family: 'circular';
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.button-style-1 {
	border-radius: var(--corner-radius-border-radius-m, 24px);
	border: 1px solid #d1abcf;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: transparent;
}

.button-style-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #e31c5d;
	color: #ffffff;
	text-decoration: none;
	border-color: transparent;
}
input {
	padding: 10px;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1440px;
}