@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStdFont.otf') format('otf');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Circular Std', 'Circular';
}
